body {
    background: rgb(73, 73, 236);
    font-family: 'Montserrat';

}
header {
    color: white;

    text-align: center; /*Centraliza o texto ao meio*/
}
section {

    background: white;
    border-radius: 18px;
    padding: 15px; /* da espaço no texto escrito dentro do background*/
    width: 500px; /* largura */
    margin: auto; /* centraliza */
    text-align: initial; /*deslocamentoLateral, deslocamento vertical, espalhamento*/
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.61);
    
}

footer {
     color: white;
     text-align: center; /*Centraliza o texto ao meio*/
     font-style: italic;
}
input{
    font-family: 'Montserrat';
}